@import "src/variables";

.wrapper {
  background: $primary-lighter;
  margin: 10px;
  padding: 0 20px;
  min-width: 175px;
}

.user-details, .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details span {
  margin-bottom: 5px;
}


.username {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.win-button {
  margin: 10px 0;
}

.current-chips {
  font-size: 1.5em;
}
