<div class="wrapper">
  <div id="register-wrapper" class="auth-form" [hidden]="!isRegistering">
    <h2>Register</h2>

    <mat-form-field>
      <input matInput type="text" placeholder="Username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="email" placeholder="Confirm Email" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="password" placeholder="password" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password"/>
    </mat-form-field>

    <button mat-button mat-flat-button>Create Account</button>
    <button mat-button mat-flat-button>Register with Google</button>
    <button mat-button mat-flat-button>Register with Facebook</button>
    <span>Already have an account? <a href="#" (click)="toggleAuthForm()">Login </a></span>
  </div>

  <div id="login-wrapper" class="auth-form" [hidden]="isRegistering">
    <h2>Login</h2>

    <mat-form-field>
      <input matInput type="email" placeholder="Email"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="password" placeholder="Password"/>
    </mat-form-field>
    <br/>

    <button mat-button mat-flat-button type="button">Login</button>
    <button mat-button mat-flat-button (click)="signInWithGoogle()" type="button">Login with Google</button>
    <button mat-button mat-flat-button  type="button">Login with Facebook</button>
    <span>Need an account? <a href="#" (click)="toggleAuthForm()">Register</a></span>
  </div>
</div>
