<div class="wrapper">


  <form class="login-wrapper">
    <h2>Login</h2>

    <mat-form-field>
      <input matInput type="email" placeholder="Email"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="password" placeholder="Password"/>
    </mat-form-field>
    <br/>

    <button mat-button mat-flat-button>Login</button>
    <button mat-button mat-flat-button>Login with Google</button>
    <button mat-button mat-flat-button>Login with Facebook</button>
    <span>Need an account? <a href="#">Register</a></span>
  </form>
</div>
